.glitch {
    position: relative;
    z-index: 2147483646;
    display: block;
    opacity: 0.8;
    font-size: calc(0.4em + 0.4vw);
    font-weight: 400;
    transform: rotate3d(1, 1, 0, 30deg);
    background-size: auto auto;
    background-color: rgba(0, 0, 0, 0);
    background-image: repeating-linear-gradient(0deg, transparent, transparent 6px, rgba(250, 215, 87, 0.24) 6px, rgba(250, 215, 87, 0.24) 7px);
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear infinite;
}

.glitch::after,
.glitch::before {
    white-space: pre-wrap;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glitch::before {
    text-shadow: -3px 0 rgba(255, 255, 0, 0.6);
    animation: 2.5s linear infinite alternate-reverse glitch1;
}

.glitch::after {
    text-shadow: 3px 0 rgba(0, 255, 0, 0.6);
    animation: 2.5s linear infinite alternate-reverse glitch2;
}

@keyframes glitch1 {
    0% {
        clip: rect(39px, 9999px, 3px, 0)
    }

    10% {
        clip: rect(96px, 9999px, 14px, 0)
    }

    20% {
        clip: rect(5px, 9999px, 69px, 0)
    }

    30% {
        clip: rect(26px, 9999px, 56px, 0)
    }

    40% {
        clip: rect(94px, 9999px, 50px, 0)
    }

    60% {
        clip: rect(58px, 9999px, 86px, 0)
    }

    70% {
        clip: rect(9px, 9999px, 31px, 0)
    }

    80% {
        clip: rect(89px, 9999px, 23px, 0)
    }

    90% {
        clip: rect(53px, 9999px, 54px, 0)
    }

    100% {
        clip: rect(33px, 9999px, 54px, 0)
    }
}

@keyframes glitch2 {
    10% {
        clip: rect(96px, 9999px, 85px, 0)
    }

    20% {
        clip: rect(71px, 9999px, 48px, 0)
    }

    30% {
        clip: rect(5px, 9999px, 96px, 0)
    }

    40% {
        clip: rect(99px, 9999px, 67px, 0)
    }

    50% {
        clip: rect(13px, 9999px, 96px, 0)
    }

    70% {
        clip: rect(55px, 9999px, 30px, 0)
    }

    80% {
        clip: rect(58px, 9999px, 86px, 0)
    }

    90% {
        clip: rect(30px, 9999px, 61px, 0)
    }

    100% {
        clip: rect(90px, 9999px, 79px, 0)
    }
}
